
.idea/
*.iml
cmake-build-debug/
cmake-build-*/
*.iws

CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
CTestTestfile.cmake

build/
*.o
*.obj
*.so
*.a
*.exe
*.out

env/
*.pyc
__pycache__/

results/
*.log

.DS_Store
Thumbs.db
